<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Graph</title>
  </head>
  <body>
    <div id="graph" class="kg-container">
      (loading. please wait)
    </div>
    <button style="float:right" onclick="KG.resetAllParams()">Reset Graph</button>
  </body>
      <script>
        // Get details of requested graph and options from URL parameters
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        // Get KGJS version, set JS and CSS to point to appropriate paths
        const version = urlParams.get('version') || "0.3.2";
        
        const kgjspath = "https://kineticgraphs.org/js/kg3d."+ version + ".js";
        let kgjs=document.createElement("script");
        kgjs.setAttribute("src", kgjspath);
        document.body.appendChild(kgjs);
        
        const kgcsspath = "https://kineticgraphs.org/css/kg."+ version + ".css";
        let kgcss=document.createElement("link");
        kgcss.setAttribute("href", kgcsspath);
        kgcss.setAttribute("rel", "stylesheet");
        kgcss.setAttribute("type", "text/css");
        document.head.appendChild(kgcss);

        // Get location of graph, set URL in graph div
        const category = urlParams.get('folder');
        const graph = urlParams.get('graph');      
        const path = "./graphs/" + category + "/" + graph + ".yml";
        document.getElementById("graph").setAttribute("src", path);

      </script>
</html>